/* Global css */
:root{
    /* color section */
    --primary-color: #A43F49;
    --secondary-color: #ffffff;

    /* font size section */
    --h1-size: 35px;
    --h2-size: 30px;
    --p-size: 16px;

    /* font family section */
    --h-family: 'Raleway', sans-serif;
    --p-family: 'Roboto', sans-serif;
}

*, ::after, :before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1,h2,h3{
    font-family: var(--h-family);
    color: var(--secondary-color);
}
h1{
    font-size:  var(--h1-size);
}
h2{
    font-size: var(--h2-size);
}
h3{
    font-size: var(--h3-size);
}
p{
    font-size: var(--p-size);
    color: var(--secondary-color);
    font-family: var(--p-family);
}
a{
    text-decoration: none;
    color: var(--secondary-color);
    font-family: var(--h-family);
}
.overlay{
    background-color: rgba(0, 0, 0, 0.534);
}
.fa{
    color: var(--secondary-color);
}
.btn{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    display: inline-block;
    padding: 8px 11px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-family: var(--p-family);
}
/* Global css end */

/* Grid system starts */
html{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, ::before, ::after{
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    
}
.container{
    max-width:1140px;
    margin-left: 33.33%;
    margin-right: 8.33%;
}
/* .row{} */
.row::after{
    content: "";
    clear: both;
    display: table;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"]{
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
/* Grid system ends */

/* navigation section starts */
.nav{
    background-color: var(--primary-color);
    position: fixed;
    width: 268.91px;
    height: 580px;
    left: 8.33%;
    top: 0px;
    display: flex;
    flex-flow: column;
    align-items: center;
    border-radius: 0 0 5px 5px;
}
.profile .profile-picture{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 30px;
}
.profile .name{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 20px;
}
.profile .name p{
    margin-top: 5px;
}
.nav .nav-items{
    width:100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 50px;
}
.nav .nav-items a{
    padding: 10px 0 10px ;
    width:100%;
    text-align: center;
    font-weight: 600;
    border-top: 1px solid white;
}
.nav .nav-items a:active, a:hover{
    background: var(--secondary-color);
    color: var(--primary-color);
}
.nav .socials{
    margin-top: 5px;
}
.nav .socials a{
    font-size: 20px;
    text-align: center;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.329);
    min-width: 35px;
    min-height: 35px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 2px 0;
    padding: 5px;
}
.nav .socials a:hover{
    background-color: rgba(0, 0, 0, 0.507);
}
.nav .socials a i{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav .copy-right{
    border-top: 1px solid white;
    margin-top: 60px;
}
/* navigation section ends */

/* about me section starts */
.about-me{
    background-image: url(/image/section-bg.png);
}
.about-me .overlay .container .row .headings{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.about-me .overlay .container .row .headings h1{
    margin-top: 50px;
    border-bottom: 3px solid var(--primary-color);
}
.about-me .overlay .container .row .headings p{
    text-align: center;
    margin-top: 15px;
}
.about-me .overlay .container .row .content-1{
    margin-top: 50px;
    display: flex;
}
.about-me .overlay .container .row .content-1 .content{
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-left: 50px;
}
.about-me .overlay .container .row .content-1 .content p{
    padding: 15px 0;
}
.about-me .overlay .container .row .content-2{
    margin-top: 50px;
    display: flex;
}
.about-me .overlay .container .row .content-2 .content{
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-left: 50px;
}
.about-me .overlay .container .row .content-2 .content p{
    padding: 15px 0;
}
/* about me section ends  */

/* skill section starts */
/* skill section ends */

/* work section starts */
/* work section ends */

/* contact-me section starts */
/* contact-me section ends */