/* Global css */
:root{
    /* color section */
    --primary-color: #A43F49;
    --secondary-color: #ffffff;

    /* font size section */
    --h1-size: 35px;
    --h2-size: 30px;
    --p-size: 16px;

    /* font family section */
    --h-family: 'Raleway', sans-serif;
    --p-family: 'Roboto', sans-serif;
}

*, ::after, :before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1,h2,h3{
    font-family: var(--h-family);
    color: var(--secondary-color);
}
h1{
    font-size:  var(--h1-size);
}
h2{
    font-size: var(--h2-size);
}
h3{
    font-size: var(--h3-size);
}
p{
    font-size: var(--p-size);
    color: var(--secondary-color);
    font-family: var(--p-family);
}
a{
    text-decoration: none;
    color: var(--secondary-color);
    font-family: var(--h-family);
}
.overlay{
    background-color: rgba(0, 0, 0, 0.534);
}
.fa{
    color: var(--secondary-color);
}
.btn{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    display: inline-block;
    padding: 8px 11px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-family: var(--p-family);
}
body{
    background-image: url(/image/section-bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
img{
    border-radius: 5px;
}
::placeholder{
    color: white;
    font-size: 20px;
    font-family: var(--p-family);
}
::selection{
    background-color: var(--primary-color);
}
/* width */
::-webkit-scrollbar {
    width: 10px;

  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: white
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--primary-color); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #a43f4996; 
  }
/* Global css end */

/* Grid system starts */
html{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, ::before, ::after{
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    
}
.container{
    max-width:1140px;
    margin-left: 33.33%;
    margin-right: 8.33%;
}
/* .row{} */
.row::after{
    content: "";
    clear: both;
    display: table;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"]{
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
/* Grid system ends */

/* navigation section starts */
.nav{
    background-color: var(--primary-color);
    position: fixed;
    width: 268.91px;
    height: 580px;
    left: 8.33%;
    top: 0px;
    display: flex;
    flex-flow: column;
    align-items: center;
    border-radius: 0 0 5px 5px;
}
.profile .profile-picture{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 30px;
}
.profile .name{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 20px;
}
.profile .name p{
    margin-top: 5px;
}
.nav .nav-items{
    width:100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 50px;
}
.nav .nav-items a{
    padding: 10px 0 10px ;
    width:100%;
    text-align: center;
    font-weight: 600;
    border-top: 1px solid white;
}
.nav .nav-items a:active, a:hover{
    background: var(--secondary-color);
    color: var(--primary-color);
}
.nav .socials{
    margin-top: 5px;
}
.nav .socials a{
    font-size: 20px;
    text-align: center;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.329);
    min-width: 35px;
    min-height: 35px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 2px 0;
    padding: 5px;
}
.nav .socials a:hover{
    background-color: rgba(0, 0, 0, 0.507);
}
.nav .socials a i{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav .copy-right{
    border-top: 1px solid white;
    margin-top: 60px;
}
/* navigation section ends */

/* about me section starts */
.about-me{
    /* background-image: url(/image/section-bg.png); */
}
.overlay .container .row .headings{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.overlay .container .row .headings h1{
    margin-top: 50px;
    border-bottom: 3px solid var(--primary-color);
}
.overlay .container .row .headings p{
    text-align: center;
    margin-top: 15px;
}
.about-me .overlay .container .row .content-1{
    margin-top: 50px;
    display: flex;
}
.about-me .overlay .container .row .content-1 .content{
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-left: 50px;
}
.about-me .overlay .container .row .content-1 .content p{
    padding: 15px 0;
}
.about-me .overlay .container .row .content-2{
    margin-top: 50px;
    display: flex;
}
.about-me .overlay .container .row .content-2 .content{
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-left: 50px;
}
.about-me .overlay .container .row .content-2 .content p{
    padding: 15px 0;
}
/* about me section ends  */

/* skill section starts */
.skills{
}
.skills .overlay .container .row .skill-parent-top{
    margin-top: 50px;
}
.skills .overlay .container .row .skill-parent{
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between
}
.skills .overlay .container .row .skill-parent .skill{
    background-color: rgba(255, 255, 255, 0.27);
    width: 49%;
    padding: 50px;
    border-radius: 5px;
    transition: .5s all ease-in-out;
}
.skills .overlay .container .row .skill-parent .skill:hover{
    background-color: rgba(255, 255, 255, 0.534);
}
.skills .overlay .container .row .skill-parent .skill .fa{
    font-size: 50px;
}
.skills .overlay .container .row .skill-parent .skill h3{
    padding-top: 20px;
    padding-bottom: 10px;
}
.skills .overlay .container .row .skill-parent .skill p{
    font-weight: 200;
}
/* skill section ends */

/* work section starts */
.work .overlay .container .row .work-parent{
    margin-top: 50px;
}
.work .overlay .container .row .work-parent .works{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
/* work section ends */

/* contact-me section starts form design */
.contact-me .overlay .container .row .contact-form{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.contact-me .overlay .container .row .contact-form .form-group{
    display: flex;
}
/* .contact-me .overlay .container .row .contact-form .form-group */.form-control{
    background-color: rgba(255, 255, 255, 0.28);
    display: inline-block;
    border: 2px solid white;
    line-height:30px;
    border-radius: 5px;
    color: white;
    padding: 0 10px;
    width:100%;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* contact-me section ends */